.nav {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    position: relative;
  }
  
  .nav li.active {
    font-size: 1.15em;
    border-radius: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .nav li.active:hover {
    background-color: #777;
  }
  
  #sacola {
    margin-right: 2em;
    position: relative;
    font-size: 1.5rem; /* Tamanho do ícone */
  }
  
  .contador-itens {
    background-color: red;
    color: white;
    padding: 6px;
    border-radius: 50%;
    font-size: 14px; /* Tamanho do contador */
    position: absolute;
    top: -12px;
    right: -12px;
  }
  .mainpage_logo {
    width: auto;
    height: auto;
  }
  
  .mainpage_title {
    font-size: 2rem;
  }
  